In [1]:
import pandas as pd
import numpy as np
import nltk
import re

In [2]:
df = pd.read_csv("amazon_reviews.csv")

In [3]:
df.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4.0,No issues.,2014-07-23,138,0,0,0,0,0.0,0.0
1,1,0mie,5.0,"Purchased this for my device, it worked as adv...",2013-10-25,409,0,0,0,0,0.0,0.0
2,2,1K3,4.0,it works as expected. I should have sprung for...,2012-12-23,715,0,0,0,0,0.0,0.0
3,3,1m2,5.0,This think has worked out great.Had a diff. br...,2013-11-21,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5.0,"Bought it with Retail Packaging, arrived legit...",2013-07-13,513,0,0,0,0,0.0,0.0

In [4]:
df.isnull().sum()

Unnamed: 0              0
reviewerName            1
overall                 0
reviewText              1
reviewTime              0
day_diff                0
helpful_yes             0
helpful_no              0
total_vote              0
score_pos_neg_diff      0
score_average_rating    0
wilson_lower_bound      0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

Unnamed: 0              0
reviewerName            0
overall                 0
reviewText              0
reviewTime              0
day_diff                0
helpful_yes             0
helpful_no              0
total_vote              0
score_pos_neg_diff      0
score_average_rating    0
wilson_lower_bound      0
dtype: int64

In [12]:
df = df.rename(columns={'Unnamed: 0':'ID'})

In [13]:
df.head()

,ID,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
1,1,0mie,5.0,"Purchased this for my device, it worked as adv...",2013-10-25,409,0,0,0,0,0.0,0.0
2,2,1K3,4.0,it works as expected. I should have sprung for...,2012-12-23,715,0,0,0,0,0.0,0.0
3,3,1m2,5.0,This think has worked out great.Had a diff. br...,2013-11-21,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5.0,"Bought it with Retail Packaging, arrived legit...",2013-07-13,513,0,0,0,0,0.0,0.0
5,5,2Cents!,5.0,It's mini storage. It doesn't do anything els...,2013-04-29,588,0,0,0,0,0.0,0.0

In [15]:
data = df[['ID','overall','reviewText']]

In [16]:
data

        ID  overall                                         reviewText
1        1      5.0  Purchased this for my device, it worked as adv...
2        2      4.0  it works as expected. I should have sprung for...
3        3      5.0  This think has worked out great.Had a diff. br...
4        4      5.0  Bought it with Retail Packaging, arrived legit...
5        5      5.0  It's mini storage.  It doesn't do anything els...
...    ...      ...                                                ...
4910  4910      1.0  I bought this Sandisk 16GB Class 10 to use wit...
4911  4911      5.0  Used this for extending the capabilities of my...
4912  4912      5.0  Great card that is very fast and reliable. It ...
4913  4913      5.0  Good amount of space for the stuff I want to d...
4914  4914      5.0  I've heard bad things about this 64gb Micro SD...

[4913 rows x 3 columns]

In [17]:
import nltk

In [18]:
import nltk
import re